/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.profileSetup {
  @apply border border-slate-100 pb-[60px] p-10 rounded-[12px_12px_0px_0px] border-b-[none] border-solid;
  background: #fff;
}
.heading {
  @apply text-slate-900 text-[25px] not-italic font-semibold leading-[normal] mb-5;
  font-family: Mulish;
}
.subHeading {
  @apply text-slate-600 text-base not-italic font-normal leading-[normal] max-w-[480px];
  font-family: Mulish;
}
.text {
  @apply text-slate-600 text-sm not-italic font-normal leading-[normal];
  font-family: Mulish;
}
.flex {
  @apply items-center justify-start mb-5;
}
.flex img {
  @apply mr-5;
}
.flexCol {
  @apply flex flex-col items-start justify-center mb-5;
}
.uploadBtn {
  @apply flex justify-center items-center border border-slate-600 text-slate-700 text-sm px-[13px] py-[7px] rounded-[3px] border-solid;
  background: #fff;
}
